@import url('global.css');

.cabecalho {
    align-items: center;
    background-color: var(--cor-preto-100);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    position: sticky;
    top: 0;
}

.cabecalho__container {
    align-items: center;
    display: flex;
    gap: 10px;
}

.cabecalho__logo {
    display: flex;
    height: 65px;
    margin-left: 10px;
    width: 65px;
}

.cabecalho__titulo {
    color: var(--cor-branco-100);
    font-family: var(--fonte-rubik-glitch);
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.cabecalho__navegacao  ul {
    display: flex;
    gap: 15px;
    margin-right: 10px;
    padding: 0;
}

.cabecalho__navegacao a {
    color: var(--cor-branco-100);
    font-family: var(--fonte-tomorrow);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3;
}

.cabecalho__navegacao a:hover {
    color: var(--cor-amarelo-400);
}

.cabecalho__navegacao a.active {
    color: var(--cor-azul-200);
    font-weight: 700;
}