@import url('global.css');

.cabecalho {
    align-items: center;
    background-color: var(--cor-preto-100);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.cabecalho__container {
    align-items: center;
    display: flex;
    gap: 10px;
}

.cabecalho__logo {
    display: flex;
    height: 65px;
    margin-left: 10px;
    width: 65px;
}

.cabecalho__titulo {
    color: var(--cor-branco-100);
    font-family: var(--fonte-rubik-glitch);
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.cabecalho__navegacao--hamburguer {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 22px;
    justify-content: space-between;
    width: 35px;
    z-index: 200;
}

.cabecalho__navegacao--hamburguer span {
    background: var(--cor-branco-100);
    border-radius: 2px;
    display: block;
    height: 3px;
    transition: all 0.3s ease;
    width: 100%;
}

/* Efeito X */
.cabecalho__navegacao--hamburguer.ativo span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.cabecalho__navegacao--hamburguer.ativo span:nth-child(2) {
    opacity: 0;
}
.cabecalho__navegacao--hamburguer.ativo span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.cabecalho__navegacao ul {
    display: flex;
    gap: 15px;
    margin-right: 10px;
    padding: 0;
}

.cabecalho__navegacao a {
    color: var(--cor-branco-100);
    font-family: var(--fonte-tomorrow);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s;
}

.cabecalho__navegacao a:hover {
    color: var(--cor-amarelo-400);
}

.cabecalho__navegacao a.active {
    color: var(--cor-azul-200);
    font-weight: 700;
}

@media (max-width: 768px) {
    .cabecalho__logo {
        height: 55.25px;
        width: 65px;
    }

    .cabecalho__titulo {
        display: none;
    }

    .cabecalho__navegacao {
        align-items: center;
        background-color: var(--cor-preto-100);
        display: none;
        flex-direction: column;
        gap: 15px;
        max-height: 0;
        padding: 20px 0;
        position: absolute;
        right: 0;
        top: 80px;
        transition: max-height 0.4s ease-in-out;
        overflow: hidden;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .cabecalho__navegacao ul {
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .cabecalho__navegacao.ativo {
        display: flex;
        max-height: 400px; /* ajuste conforme quantidade de links */
    }

    .cabecalho__navegacao--hamburguer {
        display: flex;
        margin: 0;
    }

    .circulo {
        align-items: center;
        background-color: var(--cor-cinza-400);
        border-radius: 50%;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 50px;
    }
}